body {
  box-sizing: border-box;
  background-color: rgb(149, 149, 149);
}
.card {
  width: 300px;
  background-color: rgb(56, 56, 56);
  border-radius: 20px;
  position: absolute;
  text-align: center;
  margin-top: 200px;
  margin-left: 400px;
  box-shadow: 4px 5px rgb(84, 128, 250);
  overflow: hidden;
}
.card-content {
  padding: 15px;
}
.title {
  font-size: 30px;
  background-color: white;
  padding: 20px;
  font-weight: bold;
}
.img {
  max-width: 120px;
  border-radius: 50%;
  margin: 25px auto;
  box-shadow: 4px 5px rgb(84, 128, 250);
}
.btn-left,
.btn {
  border-radius: 15px;
  width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 5px 5px 5px;
}
.btn {
  margin-left: 15px;
}
.btn-left:hover,
.btn:hover {
  background-color: rgb(114, 77, 216);
  color: white;
}
.follower {
  display: inline-block;
  color: white;
  font-size: 15px;
  padding: 0 10px;
}
.desc {
  text-align: justify;
  padding: 0 20px 0 20px;
  color: white;
  font-size: 15px;
}
.digit {
  font-size: 20px;
  margin-bottom: 10px;
}
.text {
  margin-top: 10px;
}
.wrapper {
  text-align: center;
  margin: 30px 5px;
  margin: 30px auto;
}
.button-wrapper {
  text-align: center;
}
